@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../Images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    background-color: ghostwhite;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.ok {
    background-color: ghostwhite;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.profile-username {
    margin-top: 0px;
    margin-bottom: 3px;
    display: flex;
    font-family: "Nunito", sans-serif;
}

.headerblokjes {
    width: 100%;
    background-color: whitesmoke;
}

.headersearch {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .img {
        display: none;
    }
}

.searchTerm {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px;
    opacity: .8;
    border: whitesmoke;
    box-shadow: 1px 1px gray;
}

.fa {
    border: whitesmoke;
}

.blok1 {
    margin-top: 400px;
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    opacity: .9;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.backgroundop {
    background-color: white;
    height: 500px;
}

.midden {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blok3 {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    background-color: #c45b30;
    margin-left: -52.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 2px 1px black;
}

@media only screen and (max-width: 600px) {
    .blok3 {
        display: none;
    }
}

.blok4 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

@media only screen and (max-width: 600px) {
    .blok4 {
        display: none;
    }
}

.blok5 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

@media only screen and (max-width: 600px) {
    .blok5 {
        display: none;
    }
}

.blok6 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

@media only screen and (max-width: 600px) {
    .blok6 {
        display: none;
    }
}

.blok7 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 52.7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

@media only screen and (max-width: 600px) {
    .blok7 {
        display: none;
    }
}

.blok2 {
    width: 1000px;
    height: 200px;
    background-color: #c45b30;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 3px 0px 5px black;
    display: flex;
    flex-wrap: wrap;
    ;
}

@media only screen and (max-width: 600px) {
    .blok2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: darkblue;
}

.bblok3 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -52.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 2px 1px black;
}

.bblok4 {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    background-color: #c45b30;
    margin-left: -26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bblok5 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bblok6 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bblok7 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 52.7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bblok2 {
    width: 1000px;
    height: 200px;
    background-color: #c45b30;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 3px 0px 5px black;
    display: flex;
    flex-wrap: wrap;
    ;
}

.sumbit1 {
    background-color: darkblue;
}

.bbblok3 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -52.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 2px 1px black;
}

.bbblok4 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbblok5 {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    background-color: #c45b30;
    margin-left: 0.1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbblok6 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbblok7 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 52.7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbblok2 {
    width: 1000px;
    height: 200px;
    background-color: #c45b30;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 3px 0px 5px black;
    display: flex;
    flex-wrap: wrap;
    ;
}

.formpje {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.bbbblok3 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -52.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 2px 1px black;
}

.bbbblok4 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbblok5 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbblok6 {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    background-color: #c45b30;
    margin-left: 26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbblok7 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 52.7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbblok2 {
    width: 1000px;
    height: 200px;
    background-color: #c45b30;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 3px 0px 5px black;
    display: flex;
    flex-wrap: wrap;
    ;
}

.formpje4 {
    width: 357px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 0px 5px black;
}

.bbbbblok3 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -52.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 2px 1px black;
}

.bbbbblok4 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: -26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbbblok5 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbbblok6 {
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    background-color: #d03737;
    margin-left: 26.3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbbblok7 {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    background-color: #c45b30;
    margin-left: 52.7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 3px 0px 5px black;
}

.bbbbblok2 {
    width: 1000px;
    height: 200px;
    background-color: #c45b30;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 3px 0px 5px black;
    display: flex;
    flex-wrap: wrap;
    ;
}

.formpje10 {
    width: 147px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 44px;
    margin-left: 20px;
    box-shadow: 3px 0px 5px black;
}

@media only screen and (max-width: 600px) {
    .formpje10 {
        display: none;
    }
}

.sumbit {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 3px 0px 5px black;
}

h3 {
    color: whitesmoke;
}

.blok22 {
    width: 75%;
    height: 350px;
    background-color: whitesmoke;
    opacity: .8;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.containerblok22 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corendon {
    margin: 20px;
    display: flex;
}

.overons {
    margin-left: 250px;
    display: flex;
}

.container999 {
    height: 100%;
}

.container222 {
    width: 100%;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.736);
}

.displayflex {
    display: flex;
    justify-content: center;
    height: 600px;
}

.absulute {
    position: absolute;
}

.blok30 {
    width: 100%;
    height: 200px;
    background-color: rgba(206, 206, 206, 0.736);
}

h1 {
    margin-bottom: 50px;
}

.blok10 {
    margin-top: 390px;
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    opacity: .9;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.midden1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.submitbutton1 {
    background-color: whitesmoke;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .headersearch {
        margin-top: 100px;
        display: block;
        width: 10%;
    }
}

.col-md-5 {
    width: 200px;
    height: 400px;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    column-count: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.displayflex111 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.midden111 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.midden6 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hoi {
    background-color: ghostwhite;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-danger2 {
    color: transparent;
}

@media screen and (max-width: 600px) {
    .search {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .headerblokjes {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header {
        margin-bottom: 50px;
        height: 300px;
        width: 100%;
    }
}

.col-md-4 {
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    border: solid black 1px;
}

@media screen and (max-width: 600px) {
    .col-md-4 {
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

.text-info {
    display: flex;
}

.submitbutton4 {
    width: 75px;
}